@charset "utf-8";

.cls{clear:both;}
a:focus{outline:none;}

.menu{height:30px;display:block;padding:0px;width:1050px;margin-top:5px}
.menu ul {float: right;list-style: none;padding: 0;margin: 0;width: 500px;background-image:url(../images/s_03.jpg)}
.menu ul li{float:right;overflow:hidden;position:relative;line-height:30px;text-align:center;}
.menu ul li a{position:relative;display:block;width:100px;
height:30px;font-family:"微软雅黑", "宋体";font-size:14px;text-decoration:none;cursor:pointer;font-weight:bold;line-height:30px;
}
.menu ul li a span{position:absolute;left:0;width:100px;}
.menu ul li a span.out{top:0px;}
.menu ul li a span.over,  .menu ul li a span.bg{top:-48px;}
#menu2{background-image:url(../images/s_03.jpg);background-repeat:repeat;}
#menu2 ul li a{color:#FFFFFF;top: 0px;left: -1px;
}
#menu2 ul li a span.over{color:#FFF;height:30px;width:100px;background-image:url(../images/w_03.jpg);background-repeat:repeat;}