/*主界面布局*/
        .area {
            width: 1050px;
            height: 750px;
            margin: 0px auto;
            margin-top: 25px;
            background-color: antiquewhite;
            border: thick,1px;
        }

        ul {
            width: 210px;
            margin: 0 auto;
            position: relative;
            z-index: 0;
            padding:20px;
            font-size: 25px;
            top: 0px;
            left: 0px;
        }

            ul li {
                width:210px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-bottom: 1px solid #F8F8F8;
                display: block;
            }

                ul li:hover {
                    background-color:#EEC290;
                }

                ul li a {
                    width:210px;
                    color: #666;
                    display: block;
                    text-decoration: none;
                }

                    ul li a:hover {
                        color: #FF5F3E;
                        text-decoration: none;
                    }